h1,
p {
  color: brown;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
h2{
    color: rgb(241, 6, 6);
}
body {
  background: url(assets/img/istockphoto-2161298305-612x612.webp);
}
.html{
  color: darkgrey;
  font-size: 20px;

}
#mfvx_4{
  font-size: 15px;

}

